extends layout

block content

  .container
    .row.row-search
      .input-group.col-md-12
        input.form-control(type='text', placeholder='Search for your web service' id="webServiceSearch"  name='webServiceSearch')
        span.input-group-btn
          button.btn.btn-primary(type='button')
            span.glyphicon.glyphicon-search

  br

  #webServiceContainer
    .container
      #accordion.panel-group
        for url,key in data
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a.collapsed(data-toggle='collapse', data-parent='#accordion', href='##{url.type}')
                  | #{url.type}
             div(id='#{url.type}').panel-collapse.collapse
              .panel-body
                table.table.table-responsive.results(border='1' id="table")
                  thead
                    tr
                      th Web Services
                    tr.warning.no-result
                      td
                       |  No result
                  tbody
                      for urls in url.services
                         tr.clickable-row(data-href='#{url.type}$#{urls.title}$#{urls.server},#{urls.path}')
                           td
                              a(href='#') #{urls.title}


  #dataResult
    button#back.btn.btn-primary.btn-cust(type='submit') Back
    br
    br
    .row.col-md-12#col-centered
      table.table.table-responsive(border='1' id="table")
        thead
          tr
            th Group
            th Service Name
            th Result
            th Duration
        tbody#resultSet

  .modal
